body{
	background-color : black;
	color : #ccffcc;
	font-family: courier, monotype;
	padding : 2em 30% 2em 30%;
}
h1{
	font-weight : normal;
	text-align : center;
}
header p{
	text-align : center;
}
img{
	margin : 2em auto 2em auto;
}
p.inciso{
	font-style : italic;
}

fieldset{
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom : solid 0.2em #80ff80;
	padding: 1em 0 1em 0;
	margin: 1.5em 0 1.5em 0;
}

fieldset div{
	padding: 0.5em 0  0.5em 0;
}

legend{
	font-size : 1.5em;
	margin:0.5em 0 0.5em 0;
}

input{
	padding-left : 0;
	margin-right: 1em;
}